

/* 项目用到的变量  */
#sumile-app {
  --sumile-header-height: 48px;
  --sumile-aside-width: 208px;
  --sumile-card-border-radius: 10px;
  --sumile-aside-active-menu-background: #E0EBFC;
  --sumile-top-background: #5682dc;

}

#sumile-app .sumile--collapse {
  --sumile-aside-width: auto;
}

.sumile-aside .sumile-aside-menu-items {
  --el-menu-item-height: 46px;
  --el-menu-sub-item-height: 46px;
}

#sumile-app .el-table {
  --el-table-header-bg-color: rgba(0,0,0,0.04);
}

#sumile-app .el-table thead {
  --el-table-header-text-color: rgba(0,0,0,0.85);
}


html.dark {
  --el-menu-bg-color: #000;
  --el-menu-hover-bg-color: rgb(69, 104, 176);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: PingFang SC, "Noto Sans SC", Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
