

/* 项目用到的变量  */
body {
  --sumile-header-height: 48px;
  --sumile-aside-width: 208px;
  --sumile-card-border-radius: 10px;
  --sumile-aside-active-menu-background: #E0EBFC;
  --sumile-top-background: #5682dc;
  --sumile-top-active-background: linear-gradient(180deg, rgba(94,151,249,0) 0%, #5E97F9 100%);
  --sumile-top-active-border-bottom-color:#8FC4FF;
  --sumile-background-layout: #f4f5fa;
  --el-color-primary: #5e97f9;
  --el-card-border-color: var(--el-border-color-lighter);
  --sumile-box-shadow: 0px 8px 8px 0px rgba(69,90,199,0.07);
}

html.red-theme body{
  --el-color-primary: #D24646;
  --sumile-top-background: #BF2525;
  --sumile-aside-active-menu-background: #f6e5e5;
  --el-menu-hover-bg-color: #f6e5e5;
  --sumile-top-active-background: linear-gradient(180deg,rgba(168,21,21,0),#ff7070);
  --sumile-top-active-border-bottom-color:#FFA0A0;
  --el-menu-active-color: #D24646;
}

html.dark body{
  --el-color-primary: #A6ACC1;
  --sumile-top-background: #3d0202;
  --el-menu-bg-color: #000;
  --sumile-aside-active-menu-background: rgba(255, 255, 255, .5);
  --el-menu-hover-bg-color: rgba(255, 255, 255, .5);
  --sumile-top-active-background: linear-gradient(180deg,rgba(168,21,21,0), rgba(255, 255, 255, .5));
  --sumile-top-active-border-bottom-color:rgba(255, 255, 255, .5);
  --el-menu-active-color: #A6ACC1;
}

body .el-card {
  --el-card-border-color: var(--el-border-color-lighter);
  --el-card-border-radius: var(--sumile-card-border-radius);
}

#sumile-app .sumile--collapse {
  --sumile-aside-width: auto;
}

.sumile-aside .sumile-aside-menu-items {
  --el-menu-item-height: 46px;
  --el-menu-sub-item-height: 46px;
}

#sumile-app .el-table {
  --el-table-header-bg-color: #f5f5f5;
  --el-table-text-color: rgba(0,0,0,0.65);
  --el-table-row-hover-bg-color: #ECF2FF;
  --el-table-border-color: #f0f0f0;
}

#sumile-app .el-table thead {
  --el-table-header-text-color: rgba(0,0,0,0.85);
}

#sumile-app .el-pagination {
  --el-pagination-button-width: 28px;
  --el-pagination-button-height: 28px;
  --el-pagination-item-gap: 7px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(144, 146, 152, 0.3);
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: PingFang SC, "Noto Sans SC", Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
