@import './base.css';
@import './tags.css';
@import './element-plus-reset.css';

html, body {
  height: 100%;
  margin: 0;
  background: var(--sumile-background-layout);
}

/** 暗黑模式设置 **/
html.dark, .dark body {
  background: var(--el-bg-color-overlay);
  color: #fff;
}

.dark .sumile-top {
  --el-menu-bg-color: var(--el-bg-color-overlay);
  --sumile-top-background: var(--el-bg-color-overlay);
}

.sumile-top {
  --el-menu-bg-color: var(--sumile-top-background);
  --el-menu-active-color: var(--el-color-white);
  --el-menu-text-color: var(--el-color-white);
}

#sumile-app {
  height: 100%;
  margin: 0;
}

.common-layout {
  height: 100%;
}

.el-divider--horizontal {
  margin: 12px 0;
}

.c-black-085 {
  color: rgba(0, 0, 0, .85);
}


/** 侧边菜单 start **/
.sumile-aside .el-menu--collapse .sumile-aside-menu-items .el-sub-menu .el-sub-menu__icon-arrow {
  display: none;
}
.sumile-aside .el-menu--collapse .sumile-aside-menu-items .el-sub-menu>.el-sub-menu__title>span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}
.sumile-aside-menu-items .el-sub-menu.is-active .el-sub-menu__title {
  color: var(--el-color-primary);
}
.sumile-aside-menu-items  li.el-menu-item.is-active {
  background: var(--sumile-aside-active-menu-background);
}
.sumile-aside-menu-items li.el-menu-item.is-active::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  background: var(--el-color-primary);
  position: absolute;
}

/** 侧边菜单 end **/

/** 右边内容区域 start **/
.sumile-basic-container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.sumile-basic-container .sumile-basic-container-search {
  background: var(--el-bg-color-overlay);
  box-shadow: var(--sumile-box-shadow);
  padding: 18px 5px 0 5px;
  border-radius: var(--sumile-card-border-radius);
  position: relative;
  margin-bottom: 18px;
}

.sumile-basic-container .sumile-basic-container-table {
  background: var(--el-bg-color-overlay);
  box-shadow: var(--sumile-box-shadow);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: var(--sumile-card-border-radius);
  flex: 1;
  overflow-y: hidden;
}
.sumile-basic-container .sumile-basic-container-table-operator {
  margin-bottom: 12px;
}

.sumile-basic-container .sumile-basic-container-search .el-form-item {
  width: 100%;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.sumile-basic-container .sumile-search-expand {
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
}
.sumile-basic-container .sumile-search-expand .el-tooltip__trigger{
  width: 60px;
  height: 15px;
  line-height: 15px;
  left: calc(50% - 30px);
  border-radius: 0 0 8px 8px;
  text-align: center;
  background: #fff;
  font-size: 12px;
  color: rgba(0,0,0,.45);
  cursor: pointer;
  box-shadow: var(--sumile-box-shadow);
}

.sumile-basic-card.el-card.is-always-shadow {
  margin-bottom: 15px;
  box-shadow: var(--sumile-box-shadow);
  border: none;
}
/** 右边内容区域 end **/

/* 表格下方Alert区域 start */
.sumile-table-alert .el-tag {
  width: 100%;
  padding: 10px 0 8px 12px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}

.sumile-table-alert .el-tag .el-tag__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
/* 表格下方Alert区域 end */

/* 表单详情 start */
.no-wrap .el-form-item__content {  
  max-width: calc(100% - 100px);
  overflow: hidden;
  color: rgba(0,0,0,0.65);
  line-height: 28px;
}
.text-line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  }
  .el-form-item__label {
    color: rgba(0,0,0,0.85);
    line-height: 28px;
  }
/* 表单详情 end */
