.sumile-tags .sumile-tags-tabs .el-tabs__header{
  border-bottom: none;
  margin: 0;
}
.sumile-tags .sumile-tags-tabs .el-tabs__nav {
  border: none;
  padding-bottom: 10px;
}
.sumile-tags .sumile-tags-tabs .el-tabs__item {
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  background: #fff;
  font-size: 13px;
  font-weight: normal;
  color: rgba(0,0,0,0.45);
  border-left: none;
  box-shadow: 0px 8px 8px 0px rgb(69 90 199 / 7%);
}

.sumile-tags-tabs .el-tabs__item +  .el-tabs__item {
  margin-left: 10px;
}

.sumile-tags .sumile-tags-tabs .el-tabs__item:not(.is-active):hover {
  color: var(--el-color-primary);
}
.sumile-tags .sumile-tags-tabs .el-tabs__item.is-active {
  background: var(--el-color-primary);
  color: #fff;
}
